.imageupload{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-top: 1px solid lightgray;
}

.imageupload_progress{
    width: 100%;
}

.caption{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 25px;
}

.file{
    border: 1px solid lightgray;
    border-radius: 25px;
}

.file:hover{
    color: red;
}