.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid turquoise;
  margin-bottom: 30px;
  margin-top: 10px;
  border-radius: 15px;
}

.post_image {
  width: 350px;
  object-fit: contain;
  height: 90%;
  padding: 10px;
  border-top: 1px solid turquoise;
  border-bottom: 1px solid turquoise;
}

.post_text {
  font-weight: normal;
  padding: 20px;
  margin-bottom: 20px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px 10px 0 0;
}

.post_avatar {
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.post_commentBox{
  display: flex;
  margin-top: 10px;
}

.post_input{
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid turquoise;
}

.post_button{
  flex: 0;
  border: none;
  color: turquoise;
  background-color: transparent;
  border-top: 1px solid turquoise;
}

.post_button:hover{
  cursor: pointer;
}
