.post {
  background-color: white;
  max-width: 600px;
  border: 1px solid lightgray;
  border-radius: 25px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.post_image {
  width: 450px;
  object-fit: contain;
  height: 90%;
  padding: 10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.post_text {
  font-weight: normal;
  padding: 20px;
  margin-bottom: 20px;
}

.post_header {
  display: flex;
  align-items: center;
  padding: 20px 10px 0 0;
}

.post_avatar {
  margin-right: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}
